extends ../../layout.pug


block content
  h1 Projects for Cycle #{cycleNumber}

  a(href="/cycles/"+cycleNumber+"/projects.csv") Download CSV

  table.projects-table
    thead
      tr
        th Name
        th Players
        th(colspan=2) Goal
        th Artifact URL
    tbody
      for project in projects
        tr
          td
            a(href="https://game.learnersguild.org/projects/"+project.name)= project.name
          td
            for player in project.players
              a(href="")= player.handle
              |  &nbsp;
          td
            a(href="https://jsdev.learnersguild.org/goals/"+project.goalNumber)= project.goalNumber
          td
            a(href="https://jsdev.learnersguild.org/goals/"+project.goalNumber)= project.goalTitle
          td
            a(href=project.artifactURL)= project.artifactURL
